{% if mode|string() == "combined" %}
<p /><li id="{{aws}}" class="awstats-entry">
<span class="name">{{dns}}</span>
<span class="kind">{{mode}}</span>
</li>
{% else %}
<li id="{{aws}}" class="awstats-entry">
<span class="name">{{dns}}</span>
<span class="kind">{{mode}}</span>
</li>
{% endif %}
