<!DOCTYPE html>
<html lang="en">
<head>

<title>{{vo.upper()}} awstats</title>

<!--#include file="awstats-display.html" -->

</head>

<body onload="create_links()">

<strong>{{vo.upper()}} awstats links</strong>
<br>
Note that the times are the local time of each server,
but the "today" link is based on the day at CERN.
<p>
<ul>
{% include 'temp' + vo + '.html' %}

</p>
</body>
</html>
