<script type="text/javascript">

var base = 'bin/awstats.pl?config=@name',
    per_day = '&databasebreak=day&day=@day',
    tooltip_today = 'This link gets automatically updated at midnight. No need to reload the page.',
    current_last_day_of_month;

function create_links()
{

    var entries = document.getElementsByClassName('awstats-entry'),
        today = getToday(),
        entry, name, element, value;

    current_last_day_of_month = last_day_of_month();

    for (var i=0; i<entries.length; i++)
    {
        entry = entries[i];
        name = entry.id;

        entry.appendChild(
            create_link(name, 'today', today)
        );

        entry.appendChild(
            create_link(name, 'this month', null)
        );

        for (var day=1; day <= current_last_day_of_month; day++) {
            element = create_link(name, day, day);
            if (day > today) { disable_element(element); }
            entry.appendChild(element);
        }
    }

    schedule_states_update();
}

function create_link (name, caption, day)
{
    var element = document.createElement('a'),
        caption_str = '' + caption,
        padded;

    element.innerHTML = caption_str;

    element.href = base.replace('@name', name);
    if ( !(day == null) ) {
        padded = (day < 10) ? ('0' + day) : ('' + day);
        element.href += per_day.replace('@day', padded);
    }

    element.classList.add("link");
    element.classList.add('l-' + caption_str.replace(' ', '-'));

    return element;
}

function last_day_of_month()
{
    var now = new Date(),
        end_of_month = new Date(now.getFullYear(), now.getMonth() + 1, 0),
        last_day = end_of_month.getDate();

    return last_day;
}

function getToday()
{
    var now = new Date();

    return now.getDate();
}

function disable_element(element) {
    element.classList.add("disabled");
}

function enable_element(element) {
    element.classList.remove("disabled");
}

function schedule_states_update()
{
    var now = new Date(),
        today = now.getDate(),
        new_last_day_of_month = last_day_of_month(),
        next_midnight, delta,
        elements, elem_up, new_elem;

    /* Set the activation status of day links */
    for (var day=1; day <= new_last_day_of_month; day++) {
        elements = document.getElementsByClassName('l-' + day)
        for (var i=0; i < elements.length; i++) {
            if (day <= today) enable_element(elements[i]);
            else disable_element(elements[i]);
        }
    }

    /* Update the href of the "today" link */
    elements = document.getElementsByClassName('l-today');
    for (var i=0; i < elements.length; i++) {
        elem_up = elements[i].parentElement;
        new_elem = create_link(elem_up.id, 'today', today);
        new_elem.setAttribute('title', tooltip_today);
        elem_up.replaceChild(new_elem, elements[i]);
    }

    /* When transitioning to a month with less days,
       remove the relevant links */
    for (var day = new_last_day_of_month + 1;
             day <= current_last_day_of_month;
             day++) {
        elements = document.getElementsByClassName('l-' + day);
        for (var i=0; i < elements.length; i++) {
            elem_up = elements[i].parentElement;
            elem_up.removeChild(elements[i]);
        }
    }
    current_last_day_of_month = new_last_day_of_month;

    /* Run this function again at next midnight */
    next_midnight = new Date();
    next_midnight.setHours(0, 0, 1, 0);
    next_midnight.setDate(today + 1);
    delta = next_midnight.getTime() - Date.now();
    setTimeout(schedule_states_update, delta);
}

</script>

<style>

body {
    background-color: #eef0ff;
    color: black;
    font-size: larger;
}

.link { padding-right: 5px; }

.name { font-weight: bold; }

.disabled {
    pointer-events: none;
    text-decoration: none;
    color: #708090;
}

</style>
